<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? content_for(:title) : "ProcBlox" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: 'layouts/alerts' %>
    <%= render partial: 'layouts/top_bar' %>
    <%= render partial: 'layouts/banner' %>
    <div class="MIDDLE">
      <main class="MAIN">
        <%= yield %>
      </main>
        <%= render partial: 'layouts/side_bar/side_bar' %>
    </div>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>